<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="LionStats/comparison.css">
    <link href="{% static 'styles/comparison.css' %}" rel="stylesheet" />
    {% endblock %}

    {% block title %}
    <title>Comparison</title>
    {% endblock %}
</head>

<body>
{% block comparison %}
<div class="current"></div>
{% endblock %}

{% block content %}
<div class="contentComp">
    <div class="column-wrap">

	    <div class="column one-third">

            <div class="col-group1">
                Athlete 1 <br>
                Position <br>
                Age <br>
            </div>

            <br><br>

            <div class="col-group2">
             <select class="seshDD">
                 <option value="volvo">Session 1</option>
                 <option value="saab">Session 2</option>
                 <option value="opel">Session 3</option>
                 <option value="audi">Session 4</option>
             </select>
            </div>


            <div class="col-group">Athlete 1</div>
            <h1> Test </h1>

	    </div>

    	<div class="column one-third">
    		<div class="col-group2">
                This is the center column, might not need it though
            </div>
    	</div>

    	<div class="column one-third">

    		<div class="col-group1">
                Athlete 2 <br>
                Position <br>
                Age <br>
            </div>

            <br><br>

            <div class="col-group2">
             <select class="seshDD">
                 <option value="volvo">Session 1</option>
                 <option value="saab">Session 2</option>
                 <option value="opel">Session 3</option>
                 <option value="audi">Session 4</option>
             </select>
            </div>


    		<div class="col-group">Athlete 2</div>

    	</div>
</div>

</div>
{% endblock %}

{% block topbar %}
<span class="TopBar">Athlete Comparison</span>
{% endblock %}
</body>
</html>