<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    {% block css %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <link href="{% static 'styles/dashboard.css' %}" rel="stylesheet" />
    <script  src="{% static 'js/dropdownHome.js' %}"></script>
    {% endblock %}

    {% block title %}
    <title>Home</title>
    {% endblock %}
</head>

<body>
{% block notitle %}

{% endblock %}

{% block content %}

<div class ="chart1">
    <canvas id="stat1" width="1000" height="600"></canvas>
</div>


<h1 class="welcome"> Welcome to LionStats </h1>
<h2 class="last"> Last Session Summary: </h2>

{% endblock  %}

{% block dashboard %}
<div class="current"></div>
{% endblock %}

</body>
</html>