<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    {% block css %}
    <link href="https://fonts.googleapis.com/css?family=Zen+Dots&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/individual.css' %}">
    {% endblock %}
    {% block title %}
    <title>Individual</title>
    {% endblock %}
</head>

<body>
{% block Individual %}
<div class="current"></div>
{% endblock %}

{% block content %}
<div class="content">
    <div class="SelectSport">
        <h4> Individual </h4>
        <button onclick="myFunction()"><img src="../static/images/Individual.jpg" height="300px"></button>
        
    </div>

    <div class="Position">
        <h4> Stats </h4>
        <h5>name</h5>
        <h5>sport</h5>
        <h5>jersey</h5>
        <h5>position</h5>
        <select name="Period" id="Period" size="1" style="width: 150px; height: 50px; font-size: 30px; font-family: 'Zen Dots';">
            <option value="volvo">Week</option>
            <option value="saab">Month</option>
            <option value="opel">Day</option>
            <option value="audi">Semester</option>
          </select>
    </div>

    
</div>
{% endblock %}
{% block topbar %}
<span class="TopBar">Individual</span>
{% endblock %}
</body>

</html>
