<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="LionStats/individual.css">
    <link href="{% static 'styles/individual.css' %}" rel="stylesheet" />
    {% endblock %}

    {% block title %}
    <title>Individual</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="info">
        <h5 class="name">Name:</h5>
        <h5 class="sport">Sport:</h5>
        <h5 class="jersey">Jersey:</h5>
        <h5 class="pos">Position:</h5>
    </div>

    <div class="Dropdown">
            <nav>
                <select name = "team" class="menu" id = "inNameDropDown" onchange="val()">
                </select>
            </nav>
    </div>

<h1 class="start">Start Date</h1>
    <div class="date-start">
        <input type="date" id="start" value="">

            <script>
                function myFunction() {
                var s = document.getElementById("myDate").value;
                document.getElementById("demo").innerHTML = s;
                }
            </script>
    </div>

    <h1 class="finish">Finish Date</h1>
    <div class="date-finish">
        <input type="date" id="myDate" value="">

            <script>
                function myFunction() {
                var f = document.getElementById("myDate").value;
                document.getElementById("demo").innerHTML = f;
                }
            </script>
    </div>

{% endblock %}

{% block topbar %}
<span class="TopBar">Individual Stats</span>
{% endblock %}
</body>
</html>