<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="LionStats/individual.css">
    <link href="{% static 'styles/individual.css' %}" rel="stylesheet" />
    {% endblock %}

    {% block title %}
    <title>Individual</title>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="current">

<div class="indvName">
  <h2> Name : </h2>
</div>
<div class="indvSport">
  <h2> Sport : </h2>
</div>
<div class="indvJersey">
  <h2> Jersey # : </h2>
</div>
<div class="indvPosition">
  <h2> Position : </h2>
</div>

<div class="content">
  <div class="indvPeriod">
      <h2> Period : </h2>
      <div class="indvDropdown">
          <nav>
              <label for="touch"><span>Period</span></label>
              <input type="checkbox" id="touch">

              <ul class="menu">
              <li><a href="#">Period</a></li>
              <li><a href="#">Daily</a></li>
              <li><a href="#">Weekly</a></li>
              <li><a href="#">Monthly</a></li>
              </ul>
          </nav>
      </div>
  </div>

</div>
{% endblock %}

{% block topbar %}
<span class="TopBar">Individual Stats</span>
{% endblock %}
</body>
</html>