<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    {% block css %}
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Zen+Dots&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="LionStats/navbar.css">
    <link href="{% static 'styles/navbar.css' %}" rel="stylesheet" />
    {% block title %}
    {% endblock %}
</head>
<body>
<div class="TeamDropdown">
        <div class="TDropdown">
            <nav>
                <label for="touchTeam"><span>Team</span></label>
                <input type="checkbox" id="touchTeam">

                <ul class="menu">
                <li><a href="#">Team 1</a></li>
                <li><a href="#">Team 2</a></li>
                <li><a href="#">Team 3</a></li>
                <li><a href="#">Team 4</a></li>
                </ul>
            </nav>
        </div>
    </div>

<div class="GreyArea">
    {% block content %}
    {% endblock %}
    <div class="LindenwoodLogo">
        {% block notitle %}
        <div class="TopYellowBar">
        </div>
        <div class="TopBlackBar">
        </div>
        {% block topbar %}
        <span class="TopBar">Team Filter</span>
        {% endblock %}
        {% endblock %}
    </div>
        <div class="NavBarBackground">

        </div>
        <div class="NavBarBackground2">
            <div class="name">

            </div>
<!--                <span class="LionStats">LionsStats</span>-->
                <div class="LindenwoodLogo2">

                </div>
            </div>
        </div>
        <div class="LogoArea">
            <nav class = "navbar">
            <div class="TeamButton">
                {% block team-filter %}
                <div class="TeamRectangle">
                </div>
                {% endblock %}
                <a href="http://localhost:8000/team"><span class="Team">Team</span></a>
            </div>
            <div class="IndividualButton">
                {% block individual %}
                <div class="IndividualRectangle">
                </div>
                {% endblock %}
            <a href="http://localhost:8000/individual"><span class="Individual">Individual</span></a>
        </div>
            <div class="SummaryButton">
                {% block summary %}
                <div class="SummaryRectangle">
                </div>
                {% endblock %}

                <a href="http://localhost:8000/summary"><span class="Summary">Summary</span></a>
            </div>
            <div class="HomeButton">
                {% block dashboard %}
                <div class="HomeRectangle">
                </div>
                {% endblock %}
                <a href="http://localhost:8000/dashboard"><span class="Home">Home</span></a>
            </div>
            <div class="ComparisonButton">
                {% block comparison %}
                <div class="ComparisonRectangle">
                </div>
                {% endblock %}
                <a href="http://localhost:8000/comparison"><span class="Comparison">Comparison</span></a>
            </div>
            </nav>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
        </div>
    <a href="http://localhost:8000"><span class="Logout">Logout</span></a>
</body>
</html>
