<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Zen+Dots&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="LionStats/team-filter.css">
    <link href="{% static 'styles/navbar.css' %}" rel="stylesheet" />
    <title>Team Filter</title>
</head>
<body>
<div class="GreyArea">
    <div class="LindenwoodLogo">
        <div class="TopYellowBar">

        </div>
        <div class="TopBlackBar">

        </div>
        <span class="TeamFilterBar">Team Filter</span>
    </div>
        <div class="NavBarBackground">

        </div>
        <div class="NavBarBackground2">
            <div class="name">

            </div>
                <span class="LionStats">LionsStats</span>
                <div class="LindenwoodLogo2">

                </div>
            </div>
        </div>
        <div class="LogoArea">
            <nav class = "navbar">
            <div class="TeamButton">
                <div class="TeamRectangle">
                </div>
                <a href="http://localhost:8000/team"><span class="Team">Team</span></a>
            </div>
            <div class="IndividualButton">
            <div class="IndividualRectangle">

            </div>
            <a href="http://localhost:8000/individual"><span class="Individual">Individual</span></a>
        </div>
            <div class="SummaryButton">
                <div class="SummaryRectangle">

                </div>
                <a href="http://localhost:8000/summary"><span class="Summary">Summary</span></a>
            </div>
            <div class="HomeButton">
                <div class="HomeRectangle">

                </div>
                <a href="http://localhost:8000/home"><span class="Home">Home</span></a>
            </div>
            <div class="ComparisonButton">
                <div class="ComparisonRectangle">

                </div>
                <a href="http://localhost:8000/comparison"><span class="Comparison">Comparison</span></a>
            </div>
            </nav>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
        </div>
    <a href="http://localhost:8000"><span class="Logout">Logout</span></a>
</body>
</html>