<!DOCTYPE html>
{% extends 'navbar.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    <link rel="stylesheet" type="text/css" href="LionStats/summary.css">
    <link href="{% static 'styles/summary.css' %}" rel="stylesheet" />
    {% endblock %}

    {% block title %}
    <title>Summary</title>
    {% endblock %}
</head>
<body>
{% block content %}
<div class="Summarycontent">

    <h1 class="first-heading"> Session/Sport 1 </h1>

    <p class="s1-stat-1"> Statistic #1 </p>

    <p class="s1-stat-2"> Statistic #2 </p>

    <h2 class="second-heading"> Session/Sport 2</h2>

    <p class="s2-stat-1"> Statistic #1 </p>

    <p class="s2-stat-2"> Statistic #2 </p>

</div>
{% endblock %}

{% block topbar %}
<span class="TopBar">Summary</span>
{% endblock %}
</body>
</html>
