<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Zen+Dots&display=swap" rel="stylesheet" />
    <link href="{% static 'styles/team-filter.css' %}" rel="stylesheet" />
    <title>Team Filter</title>
</head>
<body>
<div class="v64_373">
    <div class="v64_374">
        <div class="v64_375">

        </div>
        <div class="v64_376">

        </div>
        <span class="v64_377">Team Filter</span>
    </div>
<div class="v64_524">
    <div class="v64_525">
        <div class="v64_526">

        </div>
        <div class="v64_527">
            <div class="name">

            </div>
            <div class="v64_529">
                <span class="v64_530">LionsStats</span>
                <div class="v64_531">

                </div>
            </div>
        </div>
        <div class="v64_532">
            <div class="v64_561">
                <div class="v64_562">

                </div>
                <span class="v64_563">Team</span>
            </div><div class="v64_533">
            <div class="v64_534">

            </div>
            <span class="v64_535">Individual</span>
        </div>
            <div class="v64_536">
                <div class="v64_537">

                </div>
                <span class="v64_538">Summary</span>
            </div>
            <div class="v64_539">
                <div class="v64_540">

                </div>
                <span class="v64_541">Home</span>
            </div>
            <div class="v64_542">
                <div class="v64_543">

                </div>
                <span class="v64_544">Comparison</span>
            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
        </div>
    </div>
    <span class="v64_729">Log Out</span>
</div>
</div>
</body>
</html>