<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Zen+Dots&display=swap" rel="stylesheet" />
    <link href="{% static 'styles/team-filter.css' %}" rel="stylesheet" />
    <title>Team Filter</title>
</head>
<body>
<div class="GreyArea">
    <div class="LindenwoodLogo">
        <div class="TopYellowBar">

        </div>
        <div class="TopBlackBar">

        </div>
        <span class="TeamFilterBar">Team Filter</span>
    </div>
        <div class="NavBarBackground">

        </div>
        <div class="NavBarBackground2">
            <div class="name">

            </div>
                <span class="LionStats">LionsStats</span>
                <div class="LindenwoodLogo2">

                </div>
            </div>
        </div>
        <div class="LogoArea">
            <div class="TeamButton">
                <div class="TeamRectangle">

                </div>
                <span class="Team">Team</span>
            </div>
            <div class="IndividualButton">
            <div class="IndividualRectangle">

            </div>
            <span class="Individual">Individual</span>
        </div>
            <div class="SummaryButton">
                <div class="SummaryRectangle">

                </div>
                <span class="Summary">Summary</span>
            </div>
            <div class="HomeButton">
                <div class="HomeRectangle">

                </div>
                <span class="Home">Home</span>
            </div>
            <div class="ComparisonButton">
                <div class="ComparisonRectangle">

                </div>
                <span class="Comparison">Comparison</span>
            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
            <div class="name">

            </div>
        </div>
    <span class="Logout">Log Out</span>
</body>
</html>