# General
*.log
*.pdf
*.png

# IDE
.idea/ # PyCharm settings
.vscode/ # VSCode settings

# Python
*.pyc
env/
venv/
build/
dist/

# Databases
*.sqlite3

# JavaScript
node_modules/
build/ # Webpack build output

# Django
settings.py