
.GreyArea {
  width: 100%;
  height: 300%;
  background: rgba(68,68,68,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}


.name{
    position: absolute;
    width: 470px;
    height: 36px;
    left: 300px;
    top: 295px;
    z-index: 5;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    color: #FFFFFF;
}

.jersey{
    position: absolute;
    width: 470px;
    height: 36px;
    left: 300px;
    top: 360px;
    z-index: 5;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    color: #FFFFFF;
}

.start {
    position: absolute;
    width: 470px;
    height: 36px;
    left: 1170px;
    top: 237px;
    z-index: 5;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.date-start{
    position: absolute;
    left: 1200px;
    top: 350px;
}

.finish {
    position: absolute;
    width: 470px;
    height: 36px;
    left: 1670px;
    top: 237px;
    z-index: 5;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
}

.date-finish{
    position: absolute;
    left: 1700px;
    top: 350px;
}

input[type="date"]{
    height: 52px;
    width: 110%;
    font-size: 30px;
    padding-left: 20px;
}

.Athlete {
    position: absolute;
    width: 600px;
    height: 36px;
    left: 10px;
    top: 165px;

    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

.menu{
    clear:both;
    width:1000px;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    z-index: 5;
}

.content select{
    font-size: 25px;
    font-family: 'Zen Dots';
}

#dropdownAthlete{
    height: 60px;
}

input{
    height: 50px;
    width: 200px;

    font-size: 18px;
    font-family: 'Zen Dots';
}

li a {
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    z-index: 100;
    /* identical to box height */
    text-align: center;

    color: black;
}

.Dropdown nav {
  z-index: 100;
  width : auto;
  background: #d9d9d9;
  margin : 40px auto;
}

.menu li {padding : 30px;}

#touch {position: absolute; opacity: 0; height: 0px; }
#touch:checked + .menu {height: auto; }

#touchType {position: absolute; opacity: 0; height: 0px; }
#touchType:checked + .menu {height: auto; }
