* {
  box-sizing: border-box;

}
body {
  font-size: 14px;
}

.LindenwoodLogo {
  width: 100%;
  height: 177px;
  background: url("LionStats/static/images/Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 242px;
  overflow: hidden;
}
.TopYellowBar {
  width: 100%;
  height: 162px;
  background: rgba(252,181,37,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 0px;
  overflow: hidden;
}
.TopBlackBar {
  width: 100%;
  height: 162px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.TopBar {
  width: 100%;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 25%;
  padding-left: 21%;
  padding-right: 36%;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}

.NavBarBackground {
  width: 242px;
  height: 100%;
  background: rgba(252,181,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.NavBarBackground2 {
  width: 220px;
  height: 243px;
  /*background: url("../images/v64_527.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 11px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.LionStats {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 109px;
  left: 0px;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
/*.LindenwoodLogo2 {
  width: 164px;
  height: 150px;
  background: url("/static/images/Logo.png"), url("C:\LionStats\LionStats\dist\manage\Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20px;
  left: 28px;
  overflow: hidden;
}*/
.LogoArea {
  width: 242px;
  height: 392px;
  /*background: url("../images/v64_532.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 375px;
  left: 0px;
  overflow: hidden;
}
.TeamButton {
  width: 241px;
  height: 78px;
  /*/background: url("../images/v64_561.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 314px;
  left: 1px;
  overflow: hidden;
}
.TeamRectangle{
  width: 241px;
  height: 78px;
  background: rgba(252,181,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Team{
  width: 105px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 23px;
  left: 68px;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.IndividualButton{
  width: 242px;
  height: 84px;
  /*background: url("../images/v64_533.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  overflow: hidden;
}
.IndividualRectangle {
  width: 242px;
  height: 84px;
  background: rgba(252,181,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Individual {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 39px;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.SummaryButton {
  width: 242px;
  height: 78px;
  /*background: url("../images/v64_536.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 77px;
  left: 0px;
  overflow: hidden;
}
.SummaryRectangle {
  width: 242px;
  height: 78px;
  background: rgba(252,181,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Summary {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 35px;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.HomeButton {
  width: 242px;
  height: 78px;
  /*'background: url("../images/v64_539.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.HomeRectangle {
  width: 242px;
  height: 78px;
  background: rgba(252,181,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.Home {
  width: 106px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 68px;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.ComparisonButton {
  width: 242px;
  height: 75px;
  /*background: url("../images/v64_542.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 0px;
  overflow: hidden;
}
.ComparisonRectangle {
  width: 242px;
  height: 75px;
  background: rgba(252,181,37,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.Comparison {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 16px;
  left: 11px;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.Logout {
  width: 161px;
  color: rgba(208,0,0,1);
  position: absolute;
  top: 805px;
  left: 39px;
  font-family: Zen Dots;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}

.current {
  width: 242px;
  height: 78px;
  background: #DB9C1D;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.menu{
    clear:both;
    width:100%;
    height:50px;
    overflow: hidden;
    text-align: center;
    /*transition: height .4s ease;*/
    z-index: 5;
}

.TDropdown span{
    padding : 30px;
    background : white;
    color : black;
    font-size : 1.8em;
    font-family: 'Zen Dots';
    cursor : pointer;
    display: block;
    z-index: 100;
}

.TDropdown span::after {
  position: absolute;
  float: right;
  right: 10%;
  content: "+";
  z-index: 5;
}

option {
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    z-index: 100;
    /* identical to box height */
    text-align: center;

    color: black;
}
.TDropdown nav {
  z-index: 100;
  width : auto;
  background: #d9d9d9;
  margin : 40px auto;
}

h3 {
    left: 40px;
    top: -25px;
    color : black;
    font-size : 1.8em;
    font-family: 'Zen Dots';
    position:absolute;
    z-index: 100;
}


.menu option {padding : 30px;}

#touchTeam {position: absolute; opacity: 0; height: 0px; }
#touchTeam:checked + .menu {height: auto; }

.TeamDropdown{
    position: absolute;
    width: 200px;
    height: 0px;
    left: 22px;
    top: 200px;
    z-index: 5;
    background: #FFFFFF;
}

.content{
    position: absolute;
    left: 23%;
    top: 5%;
    transform: translate(-50%, -50%);
}

