.myStartDate{
    height: 200%
}

.content{
    padding-left: 1%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%
}

.chart {
    height: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 10;
}

.teamChart {
    margin: 0 auto;
}

.GreyArea {
  width: 100%;
  height: 200%;/*1831px;*/
  background: rgba(68,68,68,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.Summarycontent {
        left: 242px;
        top: 209px;
        overflow: scroll;
    }

.Athlete {
    position: absolute;
    width: 1324px;
    height: 36px;
    left: 165px;
    top: 565px;
    z-index: 1;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}
.Position {
    position: absolute;
    width: 470px;
    height: 36px;
    left: 606px;
    top: 210px;
    z-index: 5;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

.sessionBtn{

}
.Session {
    position: absolute;
    width: 400px;
    height: 36px;
    left: 1089px;
    top: 211px;
    z-index: 5;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

}

.AcademicYear {
    position: absolute;
    width: 425px;
    height: 36px;
    left: 165px;
    top: 210px;
    z-index: 1;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

}

.StatisticType {
    position: absolute;
    width: 653px;
    height: 35.21px;
    left: 756px;
    top: 589px;
    z-index: 1;
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

.menu{
    clear:both;
    width:1000px;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
    z-index: 5;
}

input{
    height: 50px;
    width: 200px;
    font-size: 18px;
    font-family: 'Zen Dots';
}

.content select{
    font-size: 25px;
    font-family: 'Zen Dots';
}

.Dropdown span{
    padding : 30px;
    background : white;
    color : black;
    font-size : 1.2em;
    font-family: 'Zen Dots';
    cursor : pointer;
    display: block;
    z-index: 100;
}

.Dropdown span::after {
  float: right;
  right: 10%;
  content: "+";
  z-index: 5;
}

li a {
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    z-index: 100;
    /* identical to box height */
    text-align: center;

    color: black;
}
.Dropdown nav {
  z-index: 100;
  width : auto;
  background: #d9d9d9;
  margin : 40px auto;
}

.menu li {padding : 30px;}

#touch {position: absolute; opacity: 0; height: 0px; }
#touch:checked + .menu {height: auto; }

#touchPosition {position: absolute; opacity: 0; height: 0px; }
#touchPosition:checked + .menu {height: auto; }

#touchSession {position: absolute; opacity: 0; height: 0px; }
#touchSession:checked + .menu {height: auto; }

#touchYear {position: absolute; opacity: 0; height: 0px; }
#touchYear:checked + .menu {height: auto; }

#touchType {position: absolute; opacity: 0; height: 0px; }
#touchType:checked + .menu {height: auto; }